/*
attributing flex to the header
adding background and font
*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 25px 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* 
adding color and style to header text
*/
.header a {
    color: #e5e7eb;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

/* making logo size bigger and bold */
.header a.logo {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #f9faf8;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top a.main-text {
    color: #f9faf8;
    font-size: 40px;
}

.top a.top-text {
    color: #e5e7eb;
    font-size: 18px;
}

.top button {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #3882f6;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}

.top .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}