/*
attributing flex to the header
adding background and font
*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 25px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 
adding color and style to header text
*/
.header a {
    color: #e5e7eb;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

/* making logo size bigger and bold */
.header a.logo {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #f9faf8;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top a.main-text {
    color: #f9faf8;
    font-size: 40px;
}

.top a.top-text {
    color: #e5e7eb;
    font-size: 18px;
}

.top button {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #3882f6;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}

.top .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.middle .main-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.middle img {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.middle .products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 100px;
}

.middle .item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a2a4a7;
    font-size: 15px;
}

.bottom {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px 200px;
    gap: 25px;
}

.bottom .main-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #a2a4a7;
}

.bottom .author {
    color: #1f2937;
    font-weight: bold;
    justify-self: flex-start;
}

.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f9faf8;
}

.footer .text {
    display: flex;
    flex-direction: column;
}

.footer .cta-text {
    font-size: 10px;
    padding-top: 20px;
}

.footer button {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #f9faf8;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}

.footer .blue-box {
    display: flex;
    background-color: #3882f6;
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 25px 400px;
    gap: 50px;
}